**Raymoond-2301872381**

In [ ]:
import pandas as pd
import numpy as np
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import StandardScaler
from math import sqrt

Import Esential neeed function and library

In [ ]:
def euclidean_distance(row1, row2):
	distance = 0.0
	for i in range(len(row1)-1):
		distance += (row1[i] - row2[i])**2
	return sqrt(distance)

Disini mengukur eyclidean distace antara 2 vektor row 1 dan row 2

In [ ]:
def get_neighbors(train, test_row, num_neighbors):
	distances = list()
	for train_row in train:
		dist = euclidean_distance(test_row, train_row)
		distances.append((train_row, dist))
	distances.sort(key=lambda tup: tup[1])
	neighbors = list()
	for i in range(num_neighbors):
		neighbors.append(distances[i][0])
	return neighbors

Disini mengukur neigbors yang mempuyai kemiripan

In [ ]:
# Make a classification prediction with neighbors
def predict_classification(train, test_row, num_neighbors):
	neighbors = get_neighbors(train, test_row, num_neighbors)
	output_values = [row[-1] for row in neighbors]
	prediction = max(set(output_values), key=output_values.count)
	return prediction

Membuat klasifikasi dengan neighbors yang mirip

In [ ]:
train  = {'ID'  : [1, 2, 3, 4],'d1'  : [1.1, 1.4, 1, 20],
                               'd2'  : [100, 1.4, 1, 20],
                               'd3'  : [1.2, 1.4, 1, 20],
                               'd4'  : [1.6, 1.5, 1, 20],
                               'd5'  : [1.6, 100, 1, 20],
                               'd6'  : [1.1, 1.4, 1, 20],
                               'd7'  : [1.2, 1.2, 2, 20],
                               'd8'  : [1.2, 1.2, 100, 20],
                               'd9'  : [1, 1, 2, 20],
                               'd10' : [1, 1, 2, 20]
        }

In [ ]:
data = pd.DataFrame.from_dict(train)

In [ ]:
data

   ID    d1     d2    d3    d4     d5    d6    d7     d8  d9  d10
0   1   1.1  100.0   1.2   1.6    1.6   1.1   1.2    1.2   1    1
1   2   1.4    1.4   1.4   1.5  100.0   1.4   1.2    1.2   1    1
2   3   1.0    1.0   1.0   1.0    1.0   1.0   2.0  100.0   2    2
3   4  20.0   20.0  20.0  20.0   20.0  20.0  20.0   20.0  20   20

In [ ]:
x_train = np.asarray(data.drop("ID",axis=1))
y_train = np.asarray(data['ID'])

Membagi daa menjadi Feature dan label dengan x_train dan y_train,disini fitur adalah kolom selain ID dan label adalah kolom ID

In [ ]:
 testing_data = (1,1,1,1,1,1,1,1,1,1)
 Predict = predict_classification(x_train,testing_data,4)
 Predict

1.0

Mencoba memprediksi data dari testing data yang diberikan soal hasilnya 1 yaitu sama karena neighboornya memiliki nilai yang sama

In [ ]:
for i in range (4):
  b = euclidean_distance(testing_data,x_train[i])
  print(b)

99.00434333906773
99.00489886869235
99.0101004948485
57.0

Disini mencari eucladian distace dari testing data yang diberikan tadi dan menghasilnan 4 range euclidean distace